<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportsClassLib.Properties.Settings.Kino" connectionString="Data Source=.\mvsqlserver;Initial Catalog=Kino;Persist Security Info=True;User ID=vugar;Password=vugar"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
