<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="KinoDataLibrary.Properties.Settings.KinoConnectionString"
            connectionString="Data Source=.\mvsql;Initial Catalog=Kino;Persist Security Info=True;User ID=vugar;Password=vugar;Connect Timeout=300"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
